body {
	padding-top: 70px;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about {
	margin-top: -45px;
	margin-left: -45px;
}

.arrowContrast {
	background-color: #949a9c;
}

#center{
	text-align: center;
	padding-top: 5%;
}

.jumbotron {
	opacity: 85%;
	background-color: gray;
}

#centerThumb{
	text-align: center;
	padding-top: 2%;
}

#quickLink {
	font-weight: 800;
}

#frontProjects {
	font-weight: 600;
}

.navbar {
	position: fixed;
  left: 0;      /* ADDED */
  top: 0;       /* ADDED */
  width: 100%;  /* ADDED */
  z-index: 5;
  opacity: 95%; 
}

.navbar-img {
	margin-right: 5px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.navbar-brand {
	color: ;
}

.navbar-default {
	background-color: #4d5459;
	border-color: #586066;
	color: white;
}

.dropdown {
	color: white;
	background-color: #4d5459;
}

.construction {
	color: lightgray;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
	color: lightgray;
    background-color: #4d5459;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #586066;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: #586066;
}

.navbar-default .navbar-nav>li>a {
    color: lightgray;
}

.navbar-default .navbar-nav>li {
    color: lightgray;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
	color: lightgray;
    background-color: #586066;
}

.screenshot {
	padding: 3px;
}

.darkHR {
	border-color: #333;
	border-width: 2px;
}

.dropdown-menu {
	background-color: #838e96;
	color: lightgray;
}


.dropdown-menu ul{
	background-color: #677178;
	color: lightgray;
}

.dropdown-menu .divider {
	background-color: black;
}


.dropdown-menu>li>a {
    color: lightgray;
}

.dropdown-menu>li>a:hover {
    background-color: #677178;
    color: white;
}

.container .row hr {
	border-color: white;
}


.navbar-default .navbar-brand {
    color: lightgray;
}

.navbar-default .navbar-brand:hover {
    color: #777;
}

.btn-default {
    color: lightgray;
    background-color: #838e96;
    border-color: #677178;
}

.buttonShadow {
	box-shadow: 4px 12px 34px -9px #000000;
}


.liTitle {
	text-align: center;
}

#topDivider {
	margin-top: -4px;
}

.projBlock {
	background-color: #677178;
	opacity: 90%;
	border-radius: 10px;
	padding: 2px;
	box-shadow: 0px 2px 5px 0px #000000;
}
.projContent {
	margin-left: 5px;
}

.projTitle {
	text-align: center;
	font-weight: 800;
}

.projSubTitle {
	color: #677178;
}

.containerAnimation {
    overflow: hidden;
}

.containerAnimation .containerAnim-div {
    animation-duration: 3s;
    animation-name: contentSlideUp;
}

@keyframes contentSlideUp {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}